/* Hide scrollbar for elements with the scrollbar-hide class */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@import 'tailwindcss';

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
